@font-face {
    font-family: "assa";
    src: url("Comfortaa-Bold.ttf") format("truetype");
}

.partebrancainicial{
    background-color: #ffffff;
    text-align: end;
    padding-right: 8em;

}

.partebrancainicial:hover{
    
}

.inicio{
    height: 49px;
    background-color: #001167;
    padding: 1px 0px 2px 0px;
    margin: auto -10px;
}
.inicio > .conteudodaparteinicial{
    font-family: "assa";
    font-size: 12px;
    text-align: left;
    padding: 0px 0px 0px 0px;
    color: #ffffff;
}

.linkinicio{
    color: #FFFFFF;
    width: ;
    text-decoration: none;
    margin-right: 20px;

}

.iconesinicio{
    
    padding: 1px 1px 1px 1px;

}





